registry=https://pkgs.dev.azure.com/Laboratorio-1/crud-nodejs/_packaging/pipeline-NPM-Test/npm/registry/

always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 3/4/2020.
; begin auth token
//pkgs.dev.azure.com/Laboratorio-1/crud-nodejs/_packaging/pipeline-NPM-Test/npm/registry/:username=Laboratorio-1
//pkgs.dev.azure.com/Laboratorio-1/crud-nodejs/_packaging/pipeline-NPM-Test/npm/registry/:_password=YnR5YWVxbDd4N2d1d3Jic3VwaWZsbnFpNWxqcXk3b3d0a2wzdzVhN2dybm5oeXVsYXM3cQ==
//pkgs.dev.azure.com/Laboratorio-1/crud-nodejs/_packaging/pipeline-NPM-Test/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/Laboratorio-1/crud-nodejs/_packaging/pipeline-NPM-Test/npm/:username=Laboratorio-1
//pkgs.dev.azure.com/Laboratorio-1/crud-nodejs/_packaging/pipeline-NPM-Test/npm/:_password=YnR5YWVxbDd4N2d1d3Jic3VwaWZsbnFpNWxqcXk3b3d0a2wzdzVhN2dybm5oeXVsYXM3cQ==
//pkgs.dev.azure.com/Laboratorio-1/crud-nodejs/_packaging/pipeline-NPM-Test/npm/:email=npm requires email to be set but doesn't use the value
; end auth token