<% include partials/_header %>

<div class="container">
    <div class="row">
        <!--Formulario-->

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="">
                        <div class="form-group">
                            <input type="text" name="titulo" placeholder="Inserte un título" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="descripcion"  cols="80" class="form-control" placeholder="Inserte una descripción"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Agregar
                        </button>
                    </form>

                </div>
            </div>
        </div>
        <!--Lista-->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Operaciones</th>
                    </tr>

                </thead>
                <tbody>

                </tbody>

            </table>

        </div>
    </div>
</div>

<% include partials/_footer %>